# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/*.local

# Backend
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache

# General
.idea/
.vscode/
*.log
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
